/vendor/
/nbproject/private/
.DS_Store
wp-cli.local.yml
node_modules/
*.zip
*.tar.gz
*.log
phpunit.xml
phpcs.xml
node_modules
npm-debug.log
docs
coverage
coverage-html
.sass-cache
.phpunit.result.cache
tests/phpunit/.phpunit.result.cache
phpstan.neon