parameters:
	level: 9
	paths:
		- campi-moduli-italiani.php
		- settings.php
		- admin
		- includes
		- integrations
		- modules
	scanFiles:
		- campi-moduli-italiani.php
	scanDirectories:
		- vendor
	ignoreErrors:
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_DIR not found.#'
		- '#Constant NO_UNSAFE_INLINE_PLUGIN_BASENAME not found.#'
		- '#Constant WP_CONTENT_DIR not found.#'
