<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<extensions>
            <extension class="tests\phpunit\Extensions\Boot"/>
	</extensions>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
			<exclude>./tests/phpunit/test-sample.php</exclude>
			<exclude>./tests/phpunit/test-class-campi-moduli-italiani-activator-multisite.php</exclude>
		</testsuite>
	</testsuites>
        <coverage>
                <include>
                        <directory suffix=".php">./admin</directory>
                        <directory suffix=".php">./includes</directory>
                        <directory suffix=".php">./integrations</directory>
                        <directory suffix=".php">./modules</directory>
                </include>
        </coverage>
</phpunit>
