#toplevel_page_gcmi div.wp-menu-image {
	background: transparent url('../img/icon.png') no-repeat scroll center 0;
	height: 32px;
}

#toplevel_page_gcmi:hover div.wp-menu-image,
#toplevel_page_gcmi.current div.wp-menu-image,
#toplevel_page_gcmi.wp-has-current-submenu div.wp-menu-image {
	background: transparent url('../img/icon.png') no-repeat scroll center -28px;
}

.wp-list-table .column-gcmi-icon { width: 5%; }
.wp-list-table .column-gcmi-dataname { width: 15%; }
.wp-list-table .column-gcmi-rows { width: 5%; text-align: right; }
.wp-list-table .column-gcmi-remotedate { width: 18%; }
.wp-list-table .column-gcmi-localdate { width: 18%; }
.wp-list-table .column-gcmi-dataURL { width: 34%; }

.gcmi-fb-regione-container { display: grid; grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) ); row-gap: 15px; }
.gcmi-fb-regione-item { white-space: nowrap; }